h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50;
    border: 0cap;
}
h2{
    font-size: 25;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20;
    border-bottom: 1cm cornflowerblue;
    color:darkslategray;
    background-color: rgb(238, 249, 250);
}
img{
    display: block;
    padding: 5px;
    border: 4px dotted darkslategray;
    text-align: center !important;
}
a{
    color: darkcyan;
    font-size: 17;
    text-align: right;
}
a:visited{
    color: black;
    font-size: 17;
    text-align: right;
}
li{
    font-style:italic;
    font-size: 17;
    font-weight: lighter;
    color: black;
}
ul{
    font-style: italic;
    font-size: 17;
    font-weight: lighter;
    color: black;
}
ol{
    font-style: italic;
    font-size: 17;
    font-weight: lighter;
    color: black;
}

li:hover{
    font-size: 101%;
}

.text-primary{
    display: inline;
    color: darkslategray;
    font-size: 20;
}

.p{
    font-weight: 300;
}
div{
    font-style: normal !important;
    font-size: 17;
    font-weight:bolder;
    color: black;
}

.link{
   text-align: left !important;

}

.common{
    border: 2px solid white;
    position: absolute;
}
.nav{
    top: 0;
    right: 0;
    z-index: 1;
    background-color: black;
}
footer{
    position: fixed;
    background-color: darkslategray;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    text-align: center;
}
.content{
    left: 0;
    right: 0;
    text-align: center;

}
.gallery img{
    display: inline;
    width: 250px;
    
}